.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
readme/**
workspace.code-workspace
mikroc-bootloader-plugin.code-workspace
startup_flag_results.csv
!README.md
