{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Build",
            "type": "shell",
            "command": "{{MAKE_COMMAND}}",
            "args": [],
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "problemMatcher": {
                "owner": "mikroc",
                "fileLocation": ["relative", "${workspaceFolder}/srcs"],
                "pattern": {
                    "regexp": "^(.*)\\((\\d+)\\):\\s+(error|warning):\\s+(.*)$",
                    "file": 1,
                    "line": 2,
                    "severity": 3,
                    "message": 4
                }
            },
            "presentation": {
                "echo": true,
                "reveal": "always",
                "focus": false,
                "panel": "shared"
            }
        },
        {
            "label": "Build Debug",
            "type": "shell",
            "command": "{{MAKE_COMMAND}}",
            "args": ["debug"],
            "group": "build",
            "problemMatcher": "$gcc",
            "presentation": {
                "echo": true,
                "reveal": "always",
                "focus": false,
                "panel": "shared"
            }
        },
        {
            "label": "Clean",
            "type": "shell",
            "command": "{{MAKE_COMMAND}}",
            "args": ["clean"],
            "group": "build",
            "presentation": {
                "echo": true,
                "reveal": "always",
                "focus": false,
                "panel": "shared"
            }
        },
        {
            "label": "Rebuild",
            "type": "shell",
            "command": "{{MAKE_COMMAND}}",
            "args": ["rebuild"],
            "group": "build",
            "problemMatcher": "$gcc",
            "presentation": {
                "echo": true,
                "reveal": "always",
                "focus": false,
                "panel": "shared"
            }
        },
        {
            "label": "Flash via Bootloader",
            "type": "shell",
            "command": "{{MAKE_COMMAND}}",
            "args": ["flash"],
            "group": "test",
            "dependsOn": ["Build"],
            "problemMatcher": [],
            "presentation": {
                "echo": true,
                "reveal": "always",
                "focus": true,
                "panel": "shared"
            }
        },
        {
            "label": "Info",
            "type": "shell",
            "command": "{{MAKE_COMMAND}}",
            "args": ["info"],
            "group": "none",
            "problemMatcher": [],
            "presentation": {
                "echo": true,
                "reveal": "always",
                "focus": false,
                "panel": "shared"
            }
        }
    ]
}
